.my-custom-pic {
    position: relative;
    width: 30vw;
    height: auto;
    align-self: center;
}

@media only screen and (max-width: 800px) {
    .my-custom-pic {
        width: 90vw;
        // left: 5%;
        padding-bottom: 30px;
        margin-bottom: 40px;
    }
}
